<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento Básico</title>
    <link rel="stylesheet" href="app.component.css">
   

    
    
    
</head>
<body>
    <div class="container">
        <header>
            <h1>PEDIDOS</h1>
        </header>
    </div>

    
    <div class="box">
        <h2 class="order-id">ID - 1212</h2>
        <div class="item">
            <p>Cheddar Burguer 2x</p>
            <p>Pão, 1 carne, 3 fatias de queijo cheddar, tomate, alface e cebola</p>
        </div>
        <div class="item">
            <p>Suco 3x</p>
            <p>Laranja 500ML</p>
        </div>
        <div class="dropdown">

            
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                STATUS
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" (click)="selectItem('FEITO')">FEITO</a>
                <a class="dropdown-item" href="#" (click)="selectItem('ENVIADO P/ ENTREGA')">ENVIADO P/ ENTREGA</a>
                <a class="dropdown-item" href="#" (click)="selectItem('ENTREGUE')">ENTREGUE</a>

                
            </div>
        </div>

    </div>
</body>
</html>

