<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aplicativo</title>
    <link rel="stylesheet" href="app.component.css">
   
</head>
<body>
    <div class="container">
        <header>
            <h1>PEDIDOS</h1>
        </header>
    </div>

   
    <div class="pedido" *ngFor="let pedido of pedidos">
        <h3>ID – {{ pedido.id }}</h3>
        <p>{{ pedido.burguer }} {{ pedido.quantidade }}x</p>
        
        <!-- Botão de status com ícone de seta -->
        <button class="status-btn"
          [ngStyle]="{'background-color': getStatusColor(pedido.selectedStatus)}"
          (click)="toggleDropdown(pedido.id)">
          {{ pedido.selectedStatus || 'STATUS' }} 
          <span [ngClass]="{'icon-rotated': pedido.dropdownOpen}">▼</span> <!-- Ícone de seta -->
        </button>
      
        <!-- Dropdown com cores nos itens -->
        <div class="dropdown" [ngClass]="{ 'show': pedido.dropdownOpen }">
          <p *ngFor="let status of statusOptions" 
             [ngStyle]="{'background-color': getStatusColor(status)}"
             (click)="changeStatus(pedido.id, status)">
            {{ status }}
          </p>
        </div>
      </div>
</body>
</html>